altgraph==0.17.4
certifi==2023.11.17
charset-normalizer==3.3.2
idna==3.6
importlib-metadata==7.0.0
packaging==23.2
psutil==5.9.7
pyinstaller==6.3.0
pyinstaller-hooks-contrib==2023.10
requests==2.31.0
urllib3==2.1.0
zipp==3.17.0
