[Desktop Entry]
Name=Logos Bible
GenericName=Bible
Comment=Runs Faithlife Bible Software via Wine and Snap. Community supported.
Exec=oudedetai.logos
Icon=${SNAP}/meta/gui/logos.png
Terminal=false
Type=Application
StartupWMClass=logos.exe
Categories=Education;Spirituality;Languages;Literature;Maps;
Keywords=Logos;FaithLife;Bible;Christianity;Jesus;
