[Desktop Entry]
Name=Ou Dedetai
GenericName=FaithLife Wine App Installer
Comment=Manages FaithLife Bible Software via Wine
Exec=oudedetai
Icon=${SNAP}/meta/gui/oudedetai.png
Terminal=false
Type=Application
StartupWMClass=Ou Dedetai
Categories=Education;Spirituality;Languages;Literature;Maps;
Keywords=Logos;Verbum;FaithLife;Bible;Control;Christianity;Catholic;Jesus;
