[Desktop Entry]
Name=Ou Dedetai
GenericName=FaithLife App Installer
Comment=Installs and manages either Logos or Verbum via Wine and Snap. Community supported.
Exec=oudedetai
Icon=${SNAP}/meta/gui/oudedetai.png
Terminal=false
Type=Application
StartupWMClass=Ou Dedetai
Categories=Education;Spirituality;Languages;Literature;Maps;
Keywords=Logos;Verbum;FaithLife;Bible;Control;Christianity;Catholic;Jesus;
