[Desktop Entry]
Name=Verbum Bible
GenericName=Bible
Comment=Runs Faithlife Bible Software via Wine and Snap. Community supported.
Exec=oudedetai.verbum
Icon=${SNAP}/meta/gui/verbum.png
Terminal=false
Type=Application
StartupWMClass=verbum.exe
Categories=Education;Spirituality;Languages;Literature;Maps;
Keywords=Verbum;FaithLife;Bible;Christianity;Catholic;Jesus;
